<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="img-container">
        <img src="https://static.vecteezy.com/system/resources/previews/000/362/681/large_2x/vector-website-error-404-page-not-found.jpg"
            alt="404 error image" class="img-responsive">
    </div>
    <div class="container return-message px-5">
        <p class="text-center text-light">Please return to <a href="/docs">Documentation</a> and you'll find your way
        </p>
    </div>

    <style>
        body {
            background-color: rgb(255, 172, 19);
        }

        .img-container {
            max-height: 800px;
            max-width: 800px;
            margin: 30px auto 0;
        }

        .img-responsive {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }

        .return-message {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .container a {
            text-decoration: none;
            color: rgb(105, 105, 105)
        }

        .container a:hover {
            color: black;
        }

        ;

        @media (max-width: 576px) {
            .return-message {
                font-size: 1rem;
            }
        }
    </style>
</body>

</html>