<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <p class="text-center">Please return to <a href="/docs">Documentation</a> and you'll find your way</p>
            <div class="img">
                <img src="/img/error-page.jpg" alt="404 error image">
            </div>
        </div>
    </div>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .top{
            background-color: #ffa809;
            padding-bottom: 10%;
            margin: 0;
            width: 100%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 70%;
        }
        .top img{
            display: block;
            width: 100%;
            max-width: 50%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 70%;
            margin: auto;
        }
        p{
            color: #f1f1f1;
        }
    </style>
</body>
</html>